---
---

$page: 1000px;
$padding: 40px;
$section-breakpoint: $page + ($padding * 2);

section {
  padding: $padding;
  transition: background var(--transition), color var(--transition);
}

@media (min-width: $section-breakpoint) {
  section {
    padding-left: calc((100% - #{$page}) / 2);
    padding-right: calc((100% - #{$page}) / 2);
  }
}

section[data-size="wide"] {
  padding: $padding;
}

section[data-size="full"] {
  padding: 0;
}

section[data-size="full"] > * {
  margin: 0;
  border-radius: 0;
}

section[data-size="full"] img {
  border-radius: 0;
}

main > section:last-of-type {
  flex-grow: 1;
}

main > section:nth-of-type(odd) {
  background: var(--background);
}

main > section:nth-of-type(even) {
  background: var(--background-alt);
}
